
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    font-style: Arial, sans-serif;
    background-color: #f9f9f9;
}
/* mahmoud : review section */
.reviews-h1{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
}
.reviews_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.reviews_card{
    background-color: #fff;
    border: 2px solid  #dfefff;
    padding: 1em;
    width: 19%;
    height: 10%;
    position: relative;
    box-shadow: 0 0 10px rgba(5, 8, 156, 0.1);
}
.reviews_img{
    border-radius: 50%;
    width: 23%;
    height: 23%;
    margin-bottom: 0.5em;
}
.reviews_h3{
    font-size: 1.5em;
    color: #000;
    margin-top: 0px;
}

.reviews_qouto{
    position: absolute;
    top: -0.2em;
    right: 0;
    font-size: 10em;
    color: #e0e0e0;
    font-family: Georgia, serif;
}

.reviews_p{
    text-align: justify;         
    word-break: break-all;   
    hyphens: auto; 
    margin-top: -1em;
}

.reviews_stars{
    margin-top: -0.5em;
    margin-bottom: 1em;
    color: #00bcd4;
    font-size: 0.8em;
}


/* mahmoud : digital_book section */
#digital_book{
    position: relative;
}
.digital_book_img{
    display: block;
    width: 100%;
    height: 30%;
    margin-top: 5em;
}
#digital_book > button{
    position: absolute;
    left: 8em;
    bottom: 8em;
    background-color: rgb(4, 157, 157);
    color: white;
    border: none;
    padding: 0.4em 1em;
}

/* mahmoud : our_blog section  */
#our_blog{
    margin-bottom: 1.5em;
}
#our_blog > h1{
    text-align: center;
    font-size: 3em;
}

.our_blog_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
}

.our_blog_card{
    display: block;
    width: 24%;
    background-color: #fff;
    border: 2px solid  #cdc8c8;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
}
.our_blog_card img{
    display: block;
    width: 100%;
    height: 14em;
}
.our_blog_card div h3{
    color: rgb(4, 157, 157);
    font-size: x-large;
}
.our_blog_card > div{
    padding: 0em 1em;
    margin-top: -0.8em;
}
.our_blog_icons{
    display: flex;
    justify-content: space-between;
    margin-top: -0.8em;
    margin-bottom: 1em;
    font-size: 0.9em;
    color: rgb(4, 157, 157);
}


/* mahmoud : footer */
#footer{
    background-color: #E0E0E0;
}
#footer .columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.4em 3em;
}
#footer .last_row{
    text-align: center;
}