/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* body, html {
    width: 100%;
    height: 100%;
  } */
  
  /* section {
    width: 100%;
  } */


body{
    font-style: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
}
/* review section */
.reviews-h1{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
}
.reviews_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.reviews_card{
    background-color: #fff;
    border: 2px solid  #dfefff;
    padding: 1em;
    width: 19%;
    height: 10%;
    position: relative;
    box-shadow: 0 0 10px rgba(5, 8, 156, 0.1);
}
.reviews_img{
    border-radius: 50%;
    width: 23%;
    height: 23%;
    margin-bottom: 0.5em;
}
.reviews_h3{
    font-size: 1.5em;
    color: #000;
    margin-top: 0px;
}

.reviews_qouto{
    position: absolute;
    top: -0.2em;
    right: 0;
    font-size: 10em;
    color: #e0e0e0;
    font-family: Georgia, serif;
}

.reviews_p{
    text-align: justify;         
    word-break: break-all;   
    hyphens: auto; 
    margin-top: -1em;
}

.reviews_stars{
    margin-top: -0.5em;
    margin-bottom: 1em;
    color: #00bcd4;
    font-size: 0.8em;
}


/* digital_book section */
.digital_book_img{
    width: 100%;
    height: 30%;
    margin-top: 5em;
    position: relative;
}