html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    font-style: Arial, sans-serif;
    background-color: #f9f9f9;
}
#reviews, #blog{
    padding: 1em
}


/* ================================================================= previous is global css code */

/* Ali : Header section */
.header{
    width: 100%;
    box-shadow: 0px 2px 8px #089da1;
    height: 64px;
    padding: 0 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-around;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
}

.logo img{
        height: 50px;
        width: auto;
        align-self: center;
        display: flex;
        padding: 0 7em;
}
.navBar {
  display: flex;
  justify-items: center;
  gap: 25px;
  margin: 0 auto;
  padding: 0 auto;
}
.navBar a{
    font-weight: 400;
    font-size: 15px;
}
.navBar a:visited ,.navBar a:link{
  text-decoration: none;
  color: black;

}
.icons{
    margin: 0 auto;
    display: flex;
    gap: 12px;
    padding: 0 auto;
}
.icons .fas{
    justify-items:center;
}

/* Ali : Hero section*/

.hero_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 5%;
}

.text_content {
    flex: 1 1 400px;
    padding: 1rem;
}
.text_content h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}
.text_content h1 span {
    color: #089da1;
}
.text_content p {
    font-size: 0.9em;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}
.text_content a:visited , .text_content a:link{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: #089da1;
    background-color: #089da1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:small;
    padding: 3px 13px ;
}
.image_content {
    flex: 1 1 400px;
    text-align: center;
}

.image_content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .hero_section {
        flex-direction: column;
        text-align: center;
    }
}

/* Ali : Feature Icons */ 

.features{
    padding: 10px;
    margin: 10px;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;

}
.feature{
    padding-left: 5px;
    padding-right: 5px;
    max-width: 20%;
    box-shadow: 0px 1px 6px #089da1;
    text-align: center;
    border: 1px solid #e0e0e0;
}
.feature h4 {
 font-weight: 1000;
 font-size: large;
}
.feature p{
    font-size:medium;
}
.feature i {
    padding-top: 15px;
    color: #089da1;
    font-size: 36px;
}

/* Ali : About Us section */
    .about_us{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        gap: 120px;
    }
    .text_about_us{
       flex: 1 1 300px;
       max-width: 100%;
    }
    .text_about_us h1 {
        font-size: 40px;
        margin-bottom: 30px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .text_about_us p {
      margin-bottom: 40px;
    }
    .text_about_us a:visited , .text_about_us a:link{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: #089da1;
    background-color: #089da1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:small;
    padding: 3px 13px ;
    }

    .img_about_us{
        flex: 1 1 300px;
        max-width: 100%; 
    }
    .img_about_us img{
        width: 100%;
        height: auto;
    }
    @media (max-width: 768px) {
  .about_us {
    flex-direction: column;
    text-align: center;
    gap: 40px; 
        }
    }
/* mahmoud : review section */
.reviews-h1{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-size: 3em;
}
.reviews_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    padding-left: 2em;
    padding-right: 2em;
}
.reviews_card{
    background-color: #fff;
    padding: 1em;
    width: 20%;
    /* height: 10%; */
    position: relative;
    border: 2px solid  #dfefff; 
    box-shadow: 0 0 5px rgba(4, 4, 14, 0.5);
    min-width: 30vb; 
}
.reviews_card:hover{
    cursor: pointer;
}
.reviews_img{
    border-radius: 50%;
    width: 23%;
    height: 23%;
    margin-bottom: 0.5em;
}
.reviews_h3{
    font-size: 1.3em;
    color: #000;
    margin-top: 0px;
}

.reviews_qouto{
    position: absolute;
    top: -0.2em;
    right: 0;
    font-size: 9em;
    color: #e0e0e0;
    font-family: Georgia, serif;
}

.reviews_p{
    text-align: justify;         
    word-break: break-all;   
    hyphens: auto; 
    margin-top: -1em;
}

.reviews_stars{
    margin-top: -0.5em;
    margin-bottom: 1em;
    color: #00bcd4;
    font-size: 0.8em;
}


/* mahmoud : digital_book section */
#digital_book{
    position: relative;
    margin-top: 5em;
}
.digital_book_img{
    display: block;
    width: 100%;
    height: 30%;
    
}
#digital_book > button{
    position: absolute;
    left: 7%;
    bottom: 24%;
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0.4em 1em;
}
#digital_book > button:hover{
    cursor: pointer;
}

/* mahmoud : blog section  */
#blog{
    margin-bottom: 1.5em;
}
#blog > h1{
    text-align: center;
    font-size: 3em;
}

.blog_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}

.blog_card{
    display: block;
    width: 24%;
    background-color: #fff;
    border: 2px solid  #cdc8c8;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
    min-width: 20em;
}
.blog_card img{
    display: block;
    width: 100%;
    height: 14em;
}
.blog_card div h3{
    color: var(--main-color);
    font-size: x-large;
}
.blog_card > div{
    padding: 0em 1em;
    margin-top: -0.8em;
}
.blog_icons{
    display: flex;
    justify-content: space-between;
    margin-top: -0.8em;
    margin-bottom: 1em;
    font-size: 0.9em;
    color: var(--main-color);
}


/* mahmoud : footer */

#footer{
    background-color: #E0E0E0;
    padding: 10px 5em;
    padding-bottom: 1em;
}
#footer .columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0.4em 3em; */
    gap: 7%;
    padding-bottom: 2em;
    font-size: 0.8em;
}
#footer .columns{
    min-width: 15em;
}
#footer .columns .col1{
    width: 16%;
}
#footer .columns .col1 img{
    width: 35%;
}
#footer .columns .col1 p{
    text-align: justify;         
    word-break: normal;   
    hyphens: auto; 
    white-space: normal;
    margin: 0;
    margin-top: 4px;
    line-height: 1.5;
}

#footer .columns .col2 .elements{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#footer .columns .col2 a{
    text-decoration: none;
    color: black;
}

#footer .columns .col3 .elements{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footer .columns .col3 .elements i{
    margin-right: 0.3em;
}

#footer .columns .col4 i{
    margin-right: 0.4em;
    color: black;
}

#footer .columns .col5{
    width: 16%;
}

#footer .columns .col5 .textarea{
  width: 70%;
  height: 1.2em;
  padding: 5px 5px 5px 13px;
  background-color: rgb(199, 194, 194);
  border-radius: 20px;
  font-size: 0.8em;
  resize: none;
  border: none;

}

#footer .columns .col5 .button{
    margin-top: 10px;
    padding: 5px 13px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    cursor: pointer;
  }

#footer .last_row{
    text-align: center;
    font-size: 0.8em;
}
#footer .last_row .highlight{
    margin-left: 5px;
    color: var(--main-color);
}


/* =================================== respomsive design */
 
  /* Tablet (≥ 1023px) */
  @media screen and (max-width: 1023px) {
    .reviews_card{
        width: 20em;
    }
    #digital_book{
        overflow: hidden;
    }

    .digital_book_img{
        width: 130%; 
        height: 340px;
        object-fit: cover;
        object-position: left;
        overflow: hidden;
        
    }
    #digital_book > button{
        left: 90px;
        bottom: 25%;
        font-size: 0.9em;
    }
    
    .blog_card{
        width: 25em;
    }
    #footer .columns{
        justify-content: start;
    }
    #footer .columns>div{
        width: 20%;
        min-width: 10em;
        margin-bottom: 2em;
    }
  }
  /* mobile (≥ 768px) */
  @media screen and (max-width: 768px) {
    .reviews_card{
        width: 25em;
    }
    .reviews_qouto{
        font-size: 6em;
    }
    
    #digital_book{
        overflow: hidden;
    }

    .digital_book_img{
        height: 100%;
        object-fit: cover;
        object-position: left;
        overflow: hidden;
        
    }
    #digital_book > button{
        left: 14%;
        bottom: 20%;
        font-size: 0.7em;
    }

    .blog_card{
        width: 25em;
        min-width: 100px;
    }
    #footer .columns{
        justify-content: start;
    }
    #footer .columns>div{
        width: 10%;
        margin-bottom: 4em;
    }
    
  }